<!DOCTYPE html>
<html>
<head>
</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div>
      {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
    </div>
  {% endif %}
  {% endwith %}
  <form method="POST" action="/login">
    <h2>Login</h2>
    <div>
        <label>Username</label>
        <input type="text" name="username">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <br>
    <button type="submit">Login</button>
  </form>
    
</body>
</html>